@charset "UTF-8";
/*colores tipografia*/
/*tamaños fuentes*/
/*tipografias*/
@keyframes slide {
  0% {
    top: 1rem;
  }
  25% {
    top: -7.5rem;
  }
  50% {
    top: -15.5rem;
  }
  75% {
    top: -24rem;
  }
}
@keyframes slide-in {
  0% {
    right: -50px;
  }
  100% {
    right: 20px;
  }
}
@keyframes glow {
  0% {
    box-shadow: 1px black;
    outline: none;
  }
  100% {
    box-shadow: 0 1px 1px rgba(0, 94, 255, 0.5411764706), 0 0 6px #3b83ff;
    outline: none;
  }
}
html {
  min-height: 100%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100vw;
  background-color: #0e1338;
}

main {
  font-family: "Asap Condensed", sans-serif;
  font-size: 1rem;
  height: fit-content;
  min-height: fit-content;
  max-width: 100%;
}

.grid {
  width: 100%;
}

.maintt {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px;
  color: burlywood;
}

.mainst {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 1.7rem;
  margin: 30px;
  font-weight: 600;
  max-width: 90%;
}

.card {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.inicio {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 20px;
  right: 20px;
  animation: slide-in 1s linear;
  overflow: hidden;
}
.inicio a {
  color: dimgray;
  font-size: 1rem;
  font-weight: 600;
}
.inicio a:hover {
  color: #3b83ff;
  outline: none;
}

/*header*/
li a {
  color: white;
  font-size: 1rem;
}

header {
  background: url(../assets/background.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: fit-content;
}
header img {
  height: 110px;
}

.nopuntos {
  display: flex;
  align-items: start;
}
.nopuntos ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
}

.navicon {
  text-decoration: none;
  color: white;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}
.navicon:hover {
  color: burlywood;
  font-weight: bold;
}

.redes {
  text-align: end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 15px;
}
.redes ul {
  flex-flow: column wrap;
  align-items: end;
  justify-content: center;
}
.redes li {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.redes li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 0.75rem;
}

.redes2 ul li {
  list-style: none;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}
.redes2 a {
  text-decoration: none;
  font-size: 1rem;
  color: whitesmoke;
}

.imgred {
  max-height: 30px;
  border-radius: 10px;
  margin-right: 5px;
}

/*footer*/
footer {
  display: block;
  background-color: #0E1338;
  color: lightgray;
  height: auto;
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.container-fluid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.roller {
  height: 4.125rem;
  line-height: 4.1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rolltxt {
  position: absolute;
  top: 1rem;
  animation: slide 10s infinite;
}

.h1col {
  font-family: "Cinzel", serif;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
}

.en {
  background: linear-gradient(to right, rgb(14, 24, 99) 30%, rgb(248, 227, 121) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alm {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(214, 0, 0) 50%, rgb(247, 200, 0) 90%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jpn {
  background: linear-gradient(to right, rgba(255, 0, 3, 0.75) 40%, rgba(255, 255, 255, 0) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frn {
  background: linear-gradient(to right, rgb(0, 34, 144) 0%, rgb(211, 211, 211) 50%, rgb(230, 40, 55) 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.nosp {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

/*carrusel*/
.carousel {
  max-height: 500px;
}

.car-tm {
  max-height: 500px;
}
.car-tm img {
  width: 100%;
}

.carousel-caption {
  max-height: 500px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*mensaje flotante*/
.toast-header img {
  width: 30px;
}

.tipoprod {
  text-align: left;
  text-decoration: underline;
}

.prods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
}

#descprod {
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  text-decoration: rgba(9, 16, 68, 0.8941176471) wavy underline;
}

.latas {
  width: fit-content;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  margin-top: 20px;
  border: 5px solid rgba(9, 16, 68, 0.8941176471);
  border-radius: 30px;
}
.latas img {
  max-height: 300px;
  border-radius: 30px;
}
.latas h4 {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin: 20px;
}

#ddesc {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 15px;
  text-align: center;
}

.disciplinas {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  margin: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: fit-content;
  text-align: center;
}
.disciplinas h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: start;
}
.disciplinas article {
  margin-bottom: 20px;
}
.disciplinas article p {
  font-size: 1.2rem;
}

.dvid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
}
.dvid iframe {
  max-height: 450px;
  max-width: 40%;
}
.dvid h3 {
  text-align: center;
}

.txt-dis {
  max-width: 50%;
  margin: 20px 30px;
}

main h1 {
  font-family: "Cinzel", serif;
}

.atletas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.atleta {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 350px;
  border: solid 1px lightgray;
  border-radius: 10px;
  height: fit-content;
  margin-bottom: 20px;
}
.atleta img {
  width: 100%;
  border-radius: 10px;
}

.mclip {
  display: grid;
  grid-template-columns: repeat(auto-fill, 650px);
  justify-content: center;
  grid-auto-rows: 400px;
  height: fit-content;
  justify-items: center;
}

.clips {
  max-width: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
}
.clips iframe {
  margin: 10px;
  width: 100%;
  max-height: 300px;
}

.mfund {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 1rem;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mfund p {
  margin: 0px 40px;
}

.contacto {
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  justify-content: center;
}

.inputs input {
  margin-bottom: 20px;
  margin-right: 10px;
}

textarea:focus, input:focus {
  animation: all 4s;
  width: 15%;
}

button:hover {
  animation: glow 2s;
}

/*Extra small devices (phones)*/
@media screen and (max-width: 550px) {
  body {
    max-width: 100%;
  }
  main {
    text-align: center;
  }
  .redes {
    display: none;
  }
  .navicon {
    font-size: 1.2rem;
  }
  .container-fluid {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .nosotros {
    flex-direction: column;
  }
  .nosp {
    width: 100%;
    text-align: center;
  }
  .mclip {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
  }
  .clips {
    max-width: 400px;
  }
  .redes2 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
  }
  .redes2 a {
    margin: 5px;
  }
  .dvid {
    flex-direction: column;
    align-items: center;
    align-content: normal;
  }
  .dvid iframe {
    max-width: 90%;
  }
  .txt-dis {
    max-width: 90%;
  }
  .txt-dis p {
    text-align: center;
  }
}
/*Small devices (phones)*/
@media screen and (min-width: 550px) and (max-width: 669px) {
  body {
    max-width: 100%;
  }
  main {
    text-align: center;
  }
  header {
    justify-content: flex-start;
  }
  .redes {
    display: none;
  }
  .container-fluid {
    justify-content: space-evenly;
  }
  .nosotros {
    flex-direction: column;
    align-items: center;
  }
  .nosotros video {
    width: 75vw;
  }
  .nosp {
    width: 100%;
    text-align: center;
  }
  .redes2 ul {
    justify-content: center;
    padding-bottom: 15px;
  }
  .redes2 ul li {
    margin: 0px 20px;
  }
  .mclip {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
  }
  .clips {
    max-width: 350px;
  }
  .dvid {
    flex-direction: column;
    align-items: center;
    align-content: normal;
  }
  .dvid iframe {
    max-width: 75%;
  }
  .txt-dis {
    max-width: 75%;
  }
  .redes2 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 15px;
  }
  .redes2 a {
    margin: 5px;
  }
}
/*Medium devices (tablets)*/
@media screen and (min-width: 669px) and (max-width: 992px) {
  body {
    max-width: 100%;
  }
  main {
    text-align: center;
  }
  .navicon {
    font-size: 1.5vw;
  }
  .dvid {
    flex-direction: column;
    align-items: center;
    align-content: normal;
    text-align: center;
  }
  .dvid iframe {
    max-width: 75%;
  }
  .txt-dis {
    max-width: 75%;
  }
}
/*Large devices (desktops)*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    max-width: 100%;
  }
  .navicon {
    font-size: 1.5vw;
  }
  .carousel {
    height: fit-content;
  }
  .disciplinas h3 {
    text-align: start;
  }
  .dvid {
    text-align: start;
  }
}
/*Extra large devices (large laptops and desktops)*/
@media screen and (min-width: 1200px) {
  body {
    max-width: 100%;
  }
  .navicon {
    font-size: 1.5vw;
  }
  .dvid h3 {
    text-align: start;
  }
}

/*# sourceMappingURL=main.css.map */
