/*Extra small devices (phones)*/
@media screen and (max-width: 550px) {
    body {
        max-width: 100%;
    }
    main {
        text-align: center;
    }

    .redes {
        display: none;
    }

    .navicon {
        font-size: 1.2rem;
    }

    .container-fluid {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .nosotros {
        flex-direction: column;
    }

    .nosp {
        width: 100%;
        text-align: center;
    }

    .mclip {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 350px);
    }

    .clips {
        max-width: 400px;
    }

    .redes2 {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: auto;
        }

        a {
            margin: 5px;
        }
    }

    .dvid {
        flex-direction: column;
        align-items: center;
        align-content: normal;

        iframe {
            max-width: 90%;
        }
    }

    .txt-dis {
        max-width: 90%;

        p {
            text-align: center;
        }
    }
}

/*Small devices (phones)*/
@media screen and (min-width: 550px) and (max-width: 669px) {
    body {
        max-width: 100%;
    }
    main {
        text-align: center;
    }

    header {
        justify-content: flex-start;
    }

    .redes {
        display: none;
    }

    .container-fluid {
        justify-content: space-evenly;
    }

    .nosotros {
        flex-direction: column;
        align-items: center;

        video {
            width: 75vw;
        }
    }

    .nosp {
        width: 100%;
        text-align: center;
    }

    .redes2 {
        ul {
            justify-content: center;
            padding-bottom: 15px;

            li {
                margin: 0px 20px;
            }
        }
    }

    .mclip {
        justify-content: center;
        grid-template-columns: repeat(auto-fill, 400px);
    }

    .clips {
        max-width: 350px;
    }

    .dvid {
        flex-direction: column;
        align-items: center;
        align-content: normal;

        iframe {
            max-width: 75%;
        }
    }

    .txt-dis {
        max-width: 75%;
    }

    .redes2 {
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: auto;
            padding-bottom: 15px;
        }

        a {
            margin: 5px;
        }
    }
}

/*Medium devices (tablets)*/
@media screen and (min-width: 669px) and (max-width: 992px) {
    body {
        max-width: 100%;
    }
    main {
        text-align: center;
    }

    .navicon {
        font-size: 1.5vw;
    }

    .dvid {
        flex-direction: column;
        align-items: center;
        align-content: normal;
        text-align: center;

        iframe {
            max-width: 75%;
        }
    }

    .txt-dis {
        max-width: 75%;
    }
}

/*Large devices (desktops)*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        max-width: 100%;
    }

    .navicon {
        font-size: 1.5vw;
    }

    .carousel {
        height: fit-content;
    }

    .disciplinas {
        h3 {
            text-align: start;
        }
    }
    .dvid {
            text-align: start;
    }
}

/*Extra large devices (large laptops and desktops)*/
@media screen and (min-width: 1200px) {
    body {
        max-width: 100%;
    }

    .navicon {
        font-size: 1.5vw;
    }
    
    .dvid {
        h3 {
            text-align: start;
        }
    }
}