/*colores tipografia*/
$color_b: black;
$color_d: burlywood;
$color_g: dimgray;
$color_w: white;
$color_gc: lightgray;


@mixin colorh1 {
    @each $name-color, $color in $colgroup {
        &-#{$name-color} {
            color: $color;
        }
    }
}

/*tamaños fuentes*/
$default: 1rem;
$large: 2rem;
$xl: 3rem;

/*tipografias*/
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family_2: 'Asap Condensed', sans-serif;
$font-family_3: 'Cinzel', serif;

@keyframes slide {
    0% {
        top: 1rem;
    }

    25% {
        top: -7.5rem;
    }

    50% {
        top: -15.5rem;
    }

    75% {
        top: -24rem;
    }
}

@keyframes slide-in {
    0% {
        right: -50px;
    }

    100% {
        right: 20px;
    }
}

@keyframes glow {
    0% {
        box-shadow: 1px black;
        outline: none;
    }
    
    100% {
        box-shadow: 0 1px 1px #005eff8a, 0 0 6px #3b83ff;
        outline: none;
    }
}