/*colores tipografia*/
$color_b: black;
$color_d: burlywood;
$color_g: dimgray;
$color_w: white;
$color_gc: lightgray;
$color_d: burlywood;

/*tamaños fuentes*/
$default: 1rem;
$large: 2rem;

/*tipografias*/
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family_2: 'Asap Condensed', sans-serif;
$font-family_3: 'Cinzel', serif;