.mclip {
	display: grid;
	grid-template-columns: repeat(auto-fill,650px);
	justify-content: center;
	grid-auto-rows: 400px;
	height: fit-content;
	justify-items: center;
}

.clips {
	max-width: 500px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: start;

	iframe {
		margin: 10px;
		width: 100%;
		max-height: 300px;
	}
}
