.contacto {
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    justify-content: center;
}

.inputs {
    input {
    margin-bottom: 20px;
    margin-right: 10px;
    }
}
.inputs:focus {
    input {
    border-color: lightblue;
    transform: scaleX(50px);
    }
}
