.contacto {
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    justify-content: center;

}

.inputs {
    input {
        margin-bottom: 20px;
        margin-right: 10px;
    }
}

textarea:focus,input:focus {
animation: all 4s;
width: 15%;
}

button:hover {
    animation: glow 2s;
}