.roller {
    height: 4.125rem;
    line-height: 4.1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#rolltxt {
    position: absolute;
    top: 1rem;
    animation: slide 10s infinite;
}

.h1col {
    font-family: $font-family_3;
    font-weight: bolder;
    font-size: $xl;
    text-align: center;
}

.en {
    background: linear-gradient(to right, rgb(14, 24, 99) 30%, rgb(248, 227, 121) 100%);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alm {
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(214, 0, 0, 1) 50%, rgba(247, 200, 0, 1) 90%);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jpn {
    background: linear-gradient(to right, rgba(255, 0, 3, 0.75) 40%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frn {
    background: linear-gradient(to right, rgba(0, 34, 144, 1) 0%, rgb(211, 211, 211) 50%, rgba(230, 40, 55, 1) 100%);
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

.nosp {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-family: $font-family_1;
    margin: auto;
}

/*carrusel*/
.carousel {
    max-height: 500px;
}

.car-tm {
    max-height: 500px;

    img {
        width: 100%;
    }
}

.carousel-caption {
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

/*mensaje flotante*/
.toast-header {
    img {
        width: 30px;
    }
}