.tipoprod {
	text-align: left;
	text-decoration: underline;
}

.prods {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
	justify-items: center;
}

#descprod {
	display: flex;
	justify-content: center;
	font-family: $font-family_3;
	font-size: 1.5rem;
	text-decoration: #091044e4 wavy underline;
}

.latas {
	width: fit-content;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: center;
	margin-top: 20px;
	border: 5px solid #091044e4;
	border-radius: 30px;

	img {
		max-height: 300px;
		border-radius: 30px;
	}

	h4 {
		font-size: 0.9rem;
		font-weight: 600;
		text-align: center;
		margin: 20px;
	}
}
