
.tipoprod {
	text-align: left;
	text-decoration: underline;
}

.prods {
	display: grid;
	justify-content: space-around;
    align-items: start;
    justify-items: center; 
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}

#descprod {
	display: flex;
	justify-content: center;
	font-family: $font-family_3;
	font-size: 1.5rem;
	text-decoration: #091044e4 wavy underline;
}

.latas {
	width: 315px;
	height: fit-content;
	display: flex;
	flex-flow: column-reverse wrap;
	align-items: center;
	justify-content: start;
	border: 5px solid #091044e4;
	border-radius: 30px;

	img {
		max-height: 300px;
		border-radius: 30px;
	}

	h4 {
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
	}
}
